.page {
  width: 100%;
  max-width: 100%;
  height: 100%;

  @media (min-width: 320px) {
    overflow-x: hidden;
  }
}

.page__body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  margin: 0 auto;
  color: $base-black;
  font-size: 14px;
  font-family: $OpenSans;
  line-height: auto;

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
}
