.page-wrapper {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  @include padding-x(14px, 8px);

  @media (min-width: $tablet) {
    @include padding-x(32px, 32px);
  }
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.uppercase-mod {
  text-transform: uppercase;
}

button {
  border: none;
  cursor: pointer;
}

.display-none {
  display: none;
}
